.container.mx-auto.text-center
  %h1.text-3xl.p-6 Week 4/20/20
.container.mx-auto.text-center
  %h2.text-lg.p-6 The week has not been planned.
  = link_to 'Plan Week', [:new, :week_block], class: "btn btn-blue"